@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/sahara";
/* @import '@skeletonlabs/skeleton/themes/catppuccin'; */

@custom-variant dark (&:where(.dark, .dark *));

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
